@keyframes tiltLR {
  0%,
  100% {
    transform: rotateY(0deg) scale(1.05);
  }
  50% {
    transform: rotateY(10deg) scale(1.05);
  }
}

@keyframes tiltRL {
  0%,
  100% {
    transform: rotateY(0deg) scale(1.05);
  }
  50% {
    transform: rotateY(-10deg) scale(1.05);
  }
}

.card {
  background: rgba(30, 30, 40, 0.4);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px) saturate(150%);
  -webkit-backdrop-filter: blur(12px) saturate(150%);
//   max-width: 340px;
  width: 100%;
  height: 100%;
  padding: 1.8rem 1.5rem 1.5rem 1.5rem;
  margin: 1.5rem auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: box-shadow 0.4s ease, border-color 0.3s ease;
  animation: none;
  display: flex;
  flex-direction: column;

  &:hover {
    border-color: #6cc0ffcc;
    box-shadow: 0 5px 28px rgba(197, 221, 255, 0.6);
    animation: tiltLR 1s ease-in-out infinite alternate;
  }

  &:active {
    animation: tiltRL 1s ease-in-out infinite alternate;
  }
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
  color: #e9ebf2;
  text-align: center;
  user-select: none;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.4));
}

.imgWrap {
  margin-top: auto;
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
  object-fit: cover;
//   filter: drop-shadow(0 3px 14px rgba(64, 142, 255, 0.45));
  user-select: none;
}

.content {
  font-size: 1rem;
  color: #c0c7e2;
  line-height: 1.5;
  opacity: 0.9;
  font-weight: 400;
  text-align: center;
  user-select: none;
  flex-grow: 1;
  margin-bottom: 1em;
}

.serviceSection{
    padding: 4em 0;
  }