.teamSection {
    // background: #181818;
    // padding: 60px 10px;
    // min-height: 90vh;
  }
  
  .card {
    background: rgba(30, 30, 30, 0.65);
    backdrop-filter: blur(14px);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.18);
    transition: all 0.38s cubic-bezier(0.4,0,0.2,1);
    position: relative;
    margin-top: 20em;
    // overflow: hidden;
  
    &:hover {
      background: rgba(40, 40, 55, 0.85);
    //   border: 1.5px solid #00eaf0;
    //   box-shadow: 0 12px 40px rgba(0, 234, 240, 0.12), 0 2px 12px rgba(30,30,30,0.25);
      transform: scale(1.04) translateY(-8px);
      border-color: #6cc0ffcc;
    box-shadow: 0 0px 20px rgba(197, 221, 255, 0.6);
    animation: tiltLR 1s ease-in-out infinite alternate;
    }
  }
  
  .imageWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // margin-top: -30px;
    // margin-bottom: 20px;
  }
  
  .cardImg {
    width: 80%;
    // height: 18em;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.26);
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -115%);
  }
  
  .cardBody {
    text-align: center;
    padding: 1em;
  
    h5 {
      font-size: 1.23rem;
      color: #fff;
      font-weight: 700;
      margin-bottom: 10px;
      letter-spacing: 0.03em;
    }
  
    p {
      color: #b4e4ef;
      font-size: 1.03rem;
      font-weight: 400;
      margin: 0 !important;
      letter-spacing: 0.01em;
      padding: 0;
    }
  }
  
  